/* === Responsive === */

.onerow {
  max-width: 2560px;
  clear: both;
  padding: 0;
  text-align: center;
  margin: 10px auto;
  position: relative;
}

@media all and (max-width: 430px) {

  .col {
    float: none;
    width: 99%;
  }

  h1 {
    margin: 0;
    padding: 0;
    font-size: 2.5em;
  }

}

/* === Responsive === */

h1 {
  font-size: 3em;
  font-family: Verdana;
}

p {
  font-family: Verdana;
  font-size: 1em;
}

ul {
  margin: 0;
  padding: 0;
}

li {
  list-style-type: none;
  display: inline-block;
  padding: 0;
  margin: 0;
}

.fff {
  color: #fff;
}

.begin {
  padding: 10px 0 70px 0;
  margin: -10px auto 30px;
  width: auto;
  height: 120px;
  text-align: center;
  background-color: #20b2aa;
  position: relative;
}

.main, .buttons {
  margin: 50px auto;
  width: 100%;
  height: auto;
  text-align: center;
  position: relative;
  clear: both;
}

.bubble {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  margin: 20px;
  text-align: center;
  padding: 0;
}

#red {
  background-color: red;
}

#orange {
  background-color: orange;
}

#yellow {
  background-color: yellow;
}

#green {
  background-color: green;
}

#blue {
  background-color: blue;
}

#violet {
  background-color: purple;
}

#btn1 {
  width: auto;
  height: auto;
  margin: 20px auto;
  background-color: #66cdaa;
  border-radius: 10px;
  text-align: center;
  position: relative;
  font-size: 1.7em;
  font-family: Verdana;
  color: #fff;
  padding: 10px;
}

#btn2 {
  width: auto;
  height: auto;
  margin: 15px auto;
  background-color: #66cddd;
  border-radius: 10px;
  text-align: center;
  position: relative;
  font-size: 1.7em;
  font-family: Verdana;
  color: #fff;
  padding: 10px;
}